/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.homeContainer {
  background: #4a148c;
  color: rgb(255, 255, 255);
}

.fixedHeaderContainer {
  background: rgb(255, 255, 255);
}

.navigationSlider .slidingNav ul li a {
  color: rgba(0, 0, 0, 0.8);
}

.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background: #4a148c;
}

.button {
  border: 1px solid #fff;
  border-radius: 0px;
  color: #fff;
}

.button:hover {
  background: #fff;
  color: #4a148c;
}

.projectTitle {
  color: #fff;
}

.container lightBackground {
  background: #ece7f3;
}

.homeSplashFade {
  background-image: url(/img/watermark.png);
  background-size: inherit;
  background-repeat: no-repeat;
}

#footer.nav-footer {
  color: #fff;
  background: #4a148c;
}

.imageAlignTop .blockImage {
  max-width: 130px;
}
.container .wrapper .imageAlignSide p {
  text-align: left;
  color: black;
}

.darkBackground {
  background: #d6d6d6;
}
