/* your custom css */

@media only screen and (min-width: 360px) and (max-width: 736px) {
  .container.paddingBottom.paddingTop .wrapper .gridBlock .threeByGridBlock {
    margin: 20px 0px;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
  .wrapper .gridBlock .threeByGridBlock {
    margin: 20px;
  }
  .navigationWrapper.navigationSlider .slidingNav ul li a {
    color: #fff;
  }
  .fixedHeaderContainer .logo {
    height: 110%;
  }

  .fixedHeaderContainer {
    padding: 0px;
  }

  .navPusher {
    overflow: hidden;
  }

  .navPusher .homeContainer .homeSplashFade {
    background-size: initial;
    min-height: 40rem;
  }
  .wrapper .gridBlock .fourByGridBlock {
    padding: 4rem 1rem 4rem 1rem;
  }
  .navPusher .nav-footer .sitemap {
    margin: 2% 0 0 20%;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (max-width: 1500px) {
  .homeContainer .homeSplashFade {
    background-size: 95vw;
    min-height: 35rem;
  }
}

body {
  font-family: $default;
}

.homeContainer {
  background: #4a148c;
  color: #fff;
}
.wrapper {
  padding: 10px 20px;
}

.fixedHeaderContainer header img {
  height: 140%;
}
.container.paddingTop {
  padding-top: 0;
}

.gridBlock .threeByGridBlock {
  flex: 1 0 30%;
  margin: 10px 30px 20px 0px;
  background-color: #fff;
  padding: 5rem 3.5rem;
  -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.15);
  background-size: 35px;
}

.fixedHeaderContainer {
  background: #fff;
  -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.15);
}
.productShowcaseSection.paddingBottom {
  padding-bottom: 80px;
  padding-top: 80px;
}
.downloadSection {
  background-color: #f5f5f5;
}
.productShowcaseSection p {
  margin: 0 auto;
  max-width: 900px;
  font-size: 1.2rem;
}
.wrapper .navigationWrapper.navigationSlider .slidingNav ul li:last-child a {
  border: 1.5px solid #4a148c;
  padding: 0rem 1rem;
  font-weight: 500;
}

.navigationSlider .slidingNav ul li a {
  color: #4a148c;
  font-weight: 500;
  padding: 1rem;
  letter-spacing: 0.3px;
}

.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover {
  background: #4a148c;
  font-weight: 500;
}

.button {
  border: 1px solid #fff;
  border-radius: 0px;
  color: #fff;
  background-color: #4a148c;
  padding: 1rem 2.5rem;
  font-size: initial;
  letter-spacing: 1px;
  font-weight: 600;
  border: 2px solid #4a148c;
}

.button:hover,
.button:focus,
.button:active {
  background: #fff;
  color: #4a148c;
  border: 2px solid #4a148c;
}

.projectTitle {
  color: #fff;
  letter-spacing: 1px;
}
.projectTitle > small {
  letter-spacing: 1px;
}
.homeSplashFade {
  background-image: url(/img/illustration.png);
  background-repeat: no-repeat;
  min-height: 45rem;
  padding-top: 3%;
  background-position: center 73%;
  background-size: initial;
}
.mainContainer .wrapper .post .postHeader {
  padding-top: 30px;
}
.mainContainer {
  padding: 0px;
}

#footer.nav-footer {
  color: #fff;
  background: #4a148c;
  letter-spacing: 0.5px;
}

.nav-footer .sitemap {
  margin: 2% 0 0 30%;
}
.docMainWrapper .wrapper {
  padding-top: 30px;
}
.nav-footer .copyright {
  margin-top: 4rem;
  border-top: 1px solid #9272ba;
  padding-top: 1rem;
}

.copyright a {
  color: inherit;
}
.nav-footer .sitemap h5 {
  font-size: inherit;
}

.imageAlignTop .blockImage {
  max-width: 100px;
}
.toc .toggleNav ul li a {
  font-size: inherit;
}
.section-title {
  color: #4a148c;
  letter-spacing: 0.7px;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem;
}
