body {
  font-family: "futura-pt", sans-serif;
}

.wrapper {
  .gridBlock {
    .threeByGridBlock {
      flex: 1 0 30%;
      margin: $spacer / 8;
      @include md {
        flex: 1 0 55%; // margin: 0 0 $spacer / 5 0;
      }
      background-color: $white;
      padding: $spacer / 2 $spacer / 3;
      @include shadow;
      background-size: 35px;
    }
  }
}

.blockElement.alignCenter.imageAlignTop.threeByGridBlock .blockContent h2>div>span>p {
  text-align: center;
}

.blockContent {
  h2 {
    margin-top: 0;
  }
  p {
    hyphens: auto;
    text-align: justify;
  }
}

.fourByGridBlock {
  padding: $spacer - 6 $spacer - 9 $spacer - 6 $spacer - 9;
}

.productShowcaseSection.paddingBottom {
  padding-bottom: $spacer - 6;
  padding-top: $spacer - 6;
}

.downloadSection {
  background-color: $bg-light;
}

.productShowcaseSection p {
  margin: 0 auto;
  max-width: 900px;
  font-size: 1.2rem;
}

.projectTitle,
small {
  color: $white;
  letter-spacing: 0.1rem;
}

.docMainWrapper .wrapper {
  padding-top: $spacer - 7;
  margin-bottom: $spacer - 6;
}

.mainContainer {
  padding: 0;
  .wrapper {
    .post {
      .postHeader {
        margin: $spacer / 8 0;
      }
    }
  }
}

.imageAlignTop .blockImage {
  max-width: 100px;
}

.toc .toggleNav ul li a {
  font-size: inherit;
}

.section-title {
  color: $primary-color;
  letter-spacing: 0.7px;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: $spacer - 9;
}

.contact-form {
  margin: $spacer/8;
}
