
// Custom Variables

$primary-color: #4a148c;
$white: #ffffff;
$line-light: #fff3;
$bg-light: #f5f5f5;
$spacer: 10rem;

// SASS Imports

@import "mixins";
@import "content";
@import "buttons";
@import "hero";
@import "header";
@import "footer";
